
/****** Object:  User [ATSUser]    Script Date: 11/27/2014 14:57:06 ******/
CREATE USER [ATSUser] FOR LOGIN [ATSUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BackGround]    Script Date: 11/27/2014 14:57:06 ******/
CREATE USER [BackGround] FOR LOGIN [ATSBackGround] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [maintainUser]    Script Date: 11/27/2014 14:57:06 ******/
CREATE USER [maintainUser] FOR LOGIN [ATSMaintainUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[RolesTable]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](25) NOT NULL,
	[Remarks] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_RolesTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RolesTable] ON
INSERT [dbo].[RolesTable] ([ID], [RoleName], [Remarks]) VALUES (1, N'TestEngineer', N'测试工程师')
INSERT [dbo].[RolesTable] ([ID], [RoleName], [Remarks]) VALUES (2, N'OP', N'普通操作者')
INSERT [dbo].[RolesTable] ([ID], [RoleName], [Remarks]) VALUES (3, N'Admin', N'管理员')
SET IDENTITY_INSERT [dbo].[RolesTable] OFF
/****** Object:  Table [dbo].[UserInfo]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[LoginPassword] [nvarchar](50) NOT NULL,
	[TrueName] [nvarchar](20) NOT NULL,
	[lastLoginONTime] [datetime] NOT NULL,
	[lastComputerName] [nvarchar](50) NOT NULL,
	[lastLoginOffTime] [datetime] NOT NULL,
	[lastIP] [nvarchar](20) NOT NULL,
	[Remarks] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON
INSERT [dbo].[UserInfo] ([ID], [LoginName], [LoginPassword], [TrueName], [lastLoginONTime], [lastComputerName], [lastLoginOffTime], [lastIP], [Remarks]) VALUES (2, N'terry.yin', N'terry', N'ysz', CAST(0x0000A3F000F387C0 AS DateTime), N'INPCSZ0443', CAST(0x0000A3F000E34B1C AS DateTime), N'10.160.80.85', N'测试1')
INSERT [dbo].[UserInfo] ([ID], [LoginName], [LoginPassword], [TrueName], [lastLoginONTime], [lastComputerName], [lastLoginOffTime], [lastIP], [Remarks]) VALUES (5, N'Leo', N'leo', N'陈江鹏', CAST(0x0000A3D400DCFB5B AS DateTime), N'', CAST(0x00008EAC00C5C100 AS DateTime), N'0.0.0.0', N'测试0')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
/****** Object:  Table [dbo].[GlobalAllEquipmentList]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAllEquipmentList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[ItemType] [nvarchar](30) NOT NULL,
	[ItemDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GlobalAllEquipmentList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentList] ON
INSERT [dbo].[GlobalAllEquipmentList] ([ID], [ItemName], [ItemType], [ItemDescription]) VALUES (1, N'E3631', N'Powersupply', N'电源')
INSERT [dbo].[GlobalAllEquipmentList] ([ID], [ItemName], [ItemType], [ItemDescription]) VALUES (2, N'AQ2211Atten', N'Attennuator', N'衰减器')
INSERT [dbo].[GlobalAllEquipmentList] ([ID], [ItemName], [ItemType], [ItemDescription]) VALUES (3, N'D86100', N'Scope', N'示波器')
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentList] OFF
/****** Object:  Table [dbo].[GlobalAllAppModelList]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAllAppModelList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[ItemDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GlobalAllAppModelList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalAllAppModelList] ON
INSERT [dbo].[GlobalAllAppModelList] ([ID], [ItemName], [ItemDescription]) VALUES (1, N'APPTXCAL', N'TXCalibration')
INSERT [dbo].[GlobalAllAppModelList] ([ID], [ItemName], [ItemDescription]) VALUES (2, N'APPTXFMT', N'TXFinalModuleTest')
INSERT [dbo].[GlobalAllAppModelList] ([ID], [ItemName], [ItemDescription]) VALUES (3, N'APPRXCAL', N'RXCalibration')
SET IDENTITY_INSERT [dbo].[GlobalAllAppModelList] OFF
/****** Object:  StoredProcedure [dbo].[GetCurrServerTime]    Script Date: 11/27/2014 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--存储过程 GetCurrServerTime
--
--获取当前的系统时间
--
--参数		方向	类型		描述
--@CurrTime	Out		datetime	服务器当前时间

CREATE PROCEDURE [dbo].[GetCurrServerTime]
--@CurrTime varchar(30) Output
@CurrTime datetime Output
AS

BEGIN

SET XACT_ABORT ON 
BEGIN TRANSACTION 
--set @CurrTime = (SELECT CONVERT(varchar(30), GETDATE(), 120))
set @CurrTime = GETDATE()

COMMIT TRANSACTION 
SET XACT_ABORT OFF 

print @CurrTime
END
GO
/****** Object:  Table [dbo].[FunctionTable]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](25) NOT NULL,
	[FunctionCode] [int] NOT NULL,
	[Remarks] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_FunctionTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FunctionTable] ON
INSERT [dbo].[FunctionTable] ([ID], [Title], [FunctionCode], [Remarks]) VALUES (1, N'Readable', 1, N'查询读取')
INSERT [dbo].[FunctionTable] ([ID], [Title], [FunctionCode], [Remarks]) VALUES (2, N'Writable', 2, N'编辑写入')
INSERT [dbo].[FunctionTable] ([ID], [Title], [FunctionCode], [Remarks]) VALUES (3, N'Addable', 4, N'新增资料')
SET IDENTITY_INSERT [dbo].[FunctionTable] OFF
/****** Object:  Table [dbo].[GlobalMSA]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalMSA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](25) NOT NULL,
	[AccessInterface] [nvarchar](25) NOT NULL,
	[SlaveAddress] [int] NOT NULL,
 CONSTRAINT [PK_GlobalMSA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalMSA] ON
INSERT [dbo].[GlobalMSA] ([ID], [ItemName], [AccessInterface], [SlaveAddress]) VALUES (1, N'SFF8636', N'I2C', 160)
INSERT [dbo].[GlobalMSA] ([ID], [ItemName], [AccessInterface], [SlaveAddress]) VALUES (2, N'CFPMSA', N'MDIO', 32768)
INSERT [dbo].[GlobalMSA] ([ID], [ItemName], [AccessInterface], [SlaveAddress]) VALUES (3, N'SFF8472', N'I2C', 162)
SET IDENTITY_INSERT [dbo].[GlobalMSA] OFF
/****** Object:  Table [dbo].[GlobalManufactureCoefficientsGroup]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalManufactureCoefficientsGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_GlobalManufactureMemoryGroupTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficientsGroup] ON
INSERT [dbo].[GlobalManufactureCoefficientsGroup] ([ID], [ItemName]) VALUES (1, N'QFSP_1')
INSERT [dbo].[GlobalManufactureCoefficientsGroup] ([ID], [ItemName]) VALUES (4, N'CGR4')
INSERT [dbo].[GlobalManufactureCoefficientsGroup] ([ID], [ItemName]) VALUES (5, N'SFP')
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficientsGroup] OFF
/****** Object:  Table [dbo].[GlobalManufactureCoefficients]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalManufactureCoefficients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemTYPE] [nvarchar](30) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[Channel] [tinyint] NOT NULL,
	[Page] [tinyint] NOT NULL,
	[StartAddress] [int] NOT NULL,
	[Length] [tinyint] NOT NULL,
	[Format] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_GlobalManufactureMemory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficients] ON
INSERT [dbo].[GlobalManufactureCoefficients] ([ID], [PID], [ItemTYPE], [ItemName], [Channel], [Page], [StartAddress], [Length], [Format]) VALUES (1, 1, N'Firmware', N'FirmwareRev', 0, 4, 128, 2, N'U16')
INSERT [dbo].[GlobalManufactureCoefficients] ([ID], [PID], [ItemTYPE], [ItemName], [Channel], [Page], [StartAddress], [Length], [Format]) VALUES (2, 1, N'ADC', N'VccAdc', 0, 4, 130, 2, N'U16')
INSERT [dbo].[GlobalManufactureCoefficients] ([ID], [PID], [ItemTYPE], [ItemName], [Channel], [Page], [StartAddress], [Length], [Format]) VALUES (3, 1, N'ADC', N'TemperatureAdc', 0, 4, 132, 2, N'U16')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficients] OFF
/****** Object:  Table [dbo].[GlobalProductionType]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalProductionType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](25) NOT NULL,
	[MSAID] [int] NOT NULL,
 CONSTRAINT [PK_GlobalProductionType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalProductionType] ON
INSERT [dbo].[GlobalProductionType] ([ID], [ItemName], [MSAID]) VALUES (1, N'QSFP', 1)
INSERT [dbo].[GlobalProductionType] ([ID], [ItemName], [MSAID]) VALUES (2, N'CFP', 2)
INSERT [dbo].[GlobalProductionType] ([ID], [ItemName], [MSAID]) VALUES (3, N'SFP', 3)
SET IDENTITY_INSERT [dbo].[GlobalProductionType] OFF
/****** Object:  Table [dbo].[UserRoleTable]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_UserRoleTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRoleTable] ON
INSERT [dbo].[UserRoleTable] ([ID], [UserID], [RoleID]) VALUES (1, 2, 3)
INSERT [dbo].[UserRoleTable] ([ID], [UserID], [RoleID]) VALUES (3, 2, 5)
INSERT [dbo].[UserRoleTable] ([ID], [UserID], [RoleID]) VALUES (14, 5, 1)
SET IDENTITY_INSERT [dbo].[UserRoleTable] OFF
/****** Object:  Table [dbo].[GlobalMSADefintionInf]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalMSADefintionInf](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[FieldName] [nvarchar](30) NOT NULL,
	[Channel] [tinyint] NOT NULL,
	[SlaveAddress] [int] NOT NULL,
	[Page] [tinyint] NOT NULL,
	[StartAddress] [int] NOT NULL,
	[Length] [tinyint] NOT NULL,
	[Format] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_GlobalMSADefintionInf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalMSADefintionInf] ON
INSERT [dbo].[GlobalMSADefintionInf] ([ID], [PID], [FieldName], [Channel], [SlaveAddress], [Page], [StartAddress], [Length], [Format]) VALUES (1, 1, N'DmiTemp', 0, 160, 0, 22, 2, N'U16')
INSERT [dbo].[GlobalMSADefintionInf] ([ID], [PID], [FieldName], [Channel], [SlaveAddress], [Page], [StartAddress], [Length], [Format]) VALUES (2, 1, N'DmiVcc', 0, 160, 0, 26, 2, N'U16')
INSERT [dbo].[GlobalMSADefintionInf] ([ID], [PID], [FieldName], [Channel], [SlaveAddress], [Page], [StartAddress], [Length], [Format]) VALUES (3, 1, N'DmiBias', 1, 160, 0, 42, 2, N'U16')
SET IDENTITY_INSERT [dbo].[GlobalMSADefintionInf] OFF
/****** Object:  Table [dbo].[GlobalAllTestModelList]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAllTestModelList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[ItemDescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_GlobalAllTestModelList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalAllTestModelList] ON
INSERT [dbo].[GlobalAllTestModelList] ([ID], [PID], [ItemName], [ItemDescription]) VALUES (1, 1, N'AdjustEye', N'')
INSERT [dbo].[GlobalAllTestModelList] ([ID], [PID], [ItemName], [ItemDescription]) VALUES (2, 1, N'AdjustTxPowerDmi', N'')
INSERT [dbo].[GlobalAllTestModelList] ([ID], [PID], [ItemName], [ItemDescription]) VALUES (3, 2, N'TestEye', N'')
SET IDENTITY_INSERT [dbo].[GlobalAllTestModelList] OFF
/****** Object:  Table [dbo].[GlobalAllEquipmentParamterList]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalAllEquipmentParamterList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[Item] [nvarchar](30) NOT NULL,
	[ItemValue] [nvarchar](255) NOT NULL,
	[ItemDescription] [nvarchar](500) NOT NULL,
	[ItemType] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_GlobalAllEquipmentParamterList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentParamterList] ON
INSERT [dbo].[GlobalAllEquipmentParamterList] ([ID], [PID], [Item], [ItemValue], [ItemDescription], [ItemType]) VALUES (1, 1, N'Addr', N'5', N'GPIB地址（1~30）', N'byte')
INSERT [dbo].[GlobalAllEquipmentParamterList] ([ID], [PID], [Item], [ItemValue], [ItemDescription], [ItemType]) VALUES (2, 1, N'IOType', N'GPIB', N'接口类型（GPIB或USB）', N'string')
INSERT [dbo].[GlobalAllEquipmentParamterList] ([ID], [PID], [Item], [ItemValue], [ItemDescription], [ItemType]) VALUES (3, 1, N'Reset', N'False', N'是否复位（True 是，False 否）', N'bool')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentParamterList] OFF
/****** Object:  Table [dbo].[RoleFunctionTable]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFunctionTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FunctionID] [int] NOT NULL,
 CONSTRAINT [PK_RoleFunctionTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoleFunctionTable] ON
INSERT [dbo].[RoleFunctionTable] ([ID], [RoleID], [FunctionID]) VALUES (1, 1, 1)
INSERT [dbo].[RoleFunctionTable] ([ID], [RoleID], [FunctionID]) VALUES (2, 1, 2)
INSERT [dbo].[RoleFunctionTable] ([ID], [RoleID], [FunctionID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[RoleFunctionTable] OFF
/****** Object:  StoredProcedure [dbo].[InsertRunRecord]    Script Date: 11/27/2014 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--修改存储过程 InsertRunRecord
--
--存储过程 InsertRunRecord
--
--向TopoRunRecordTable添加一条新记录，并返回该记录的ID。
--TopoTestPlanRunRecordTable 字段 ID SN PID StartTime EndTime
--
--参数		方向	类型		描述
--@ID		OUT	Int		新记录ID
--@PID		IN	int		TestPlanID
--@SN		IN	Nvarchar(30)	模块序列号
--@StartTime	IN	Datetime	测试开始时间
--@EndTime	IN	Datetime	测试结束时间	--140721
--@FWRev	IN	Nvarchar(5)	FW版本号
CREATE PROCEDURE [dbo].[InsertRunRecord]
 @ID int OUTPUT,
 @SN nvarchar(30),  
 @PID int,
 @StartTime datetime,
 @EndTime datetime, --140721
 @FWRev nvarchar(5), --141027
 @IP nvarchar(50) --141027
AS
 
BEGIN
   
SET XACT_ABORT ON 
BEGIN TRANSACTION 
INSERT INTO  TopoRunRecordTable ("SN", "PID","StartTime","EndTime","FWRev","IP") VALUES(@SN, @PID,@StartTime,@EndTime,@FWRev,@IP);

set @ID = (Select Ident_Current('TopoRunRecordTable'))
COMMIT TRANSACTION 
SET XACT_ABORT OFF 
print @id
return @ID

END
GO
/****** Object:  StoredProcedure [dbo].[InsertLogRecord]    Script Date: 11/27/2014 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--修改存储过程 [InsertMyLogRecord]
--存储过程 [InsertMyLogRecord]
--
--向TopoLogRecord 添加一条新记录，并返回该记录的ID。
--TopoLogRecord  字段 ID PID RunRecordID StartTime EndTime TestLog Temp Voltage Channel Result
--
--参数		方向	类型		描述
--@ID		OUT	Int		新记录ID
--@PID		IN	int		TestControlID
--@RunRecordID	IN	int		RunRecordID
--@StartTime	IN	Datetime	测试开始时间
--@EndTime	IN	Datetime	测试结束时间
--@TestLog 	IN 	ntext		测试Log
--@Temp 	IN 	Real		测试温度
--@Voltage 	IN 	Real		测试电压
--@Channel 	IN 	tinyint		测试通道号
--@Result 	IN	bit 		测试结果

CREATE PROCEDURE [dbo].[InsertLogRecord]
 @ID int OUTPUT,
 @PID int,
 @RunRecordID int, 
 @StartTime datetime,
 @EndTime datetime,
 @TestLog ntext,
 @Temp real,
 @Voltage real,
 @Channel tinyint,
 @Result bit
AS

BEGIN

SET XACT_ABORT ON 
BEGIN TRANSACTION 

INSERT INTO  TopoLogRecord VALUES(@PID,@RunRecordID , @StartTime,@EndTime,@TestLog,@Temp,@Voltage,@Channel,@Result);
set @ID = (Select Ident_Current('TopoLogRecord'))

COMMIT TRANSACTION 
SET XACT_ABORT OFF 

print @id
return @ID
END
GO
/****** Object:  Table [dbo].[GlobalTestModelParamterList]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalTestModelParamterList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[ItemType] [nvarchar](10) NOT NULL,
	[Direction] [nvarchar](10) NOT NULL,
	[ItemValue] [nvarchar](50) NOT NULL,
	[SpecMin] [float] NOT NULL,
	[SpecMax] [float] NOT NULL,
	[ItemSpecific] [tinyint] NOT NULL,
	[LogRecord] [tinyint] NOT NULL,
	[Failbreak] [tinyint] NOT NULL,
	[DataRecord] [tinyint] NOT NULL,
	[ItemDescription] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_GlobalTestModelParamterList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalTestModelParamterList] ON
INSERT [dbo].[GlobalTestModelParamterList] ([ID], [PID], [ItemName], [ItemType], [Direction], [ItemValue], [SpecMin], [SpecMax], [ItemSpecific], [LogRecord], [Failbreak], [DataRecord], [ItemDescription]) VALUES (1, 1, N'IMODMIN(MA)', N'UInt16', N'input', N'100', -32768, 32767, 0, 0, 0, 0, N'')
INSERT [dbo].[GlobalTestModelParamterList] ([ID], [PID], [ItemName], [ItemType], [Direction], [ItemValue], [SpecMin], [SpecMax], [ItemSpecific], [LogRecord], [Failbreak], [DataRecord], [ItemDescription]) VALUES (2, 1, N'ARRAYLISTTXMODCOEF', N'ArrayList', N'output', N'-32768', -32768, 32767, 0, 1, 0, 0, N'')
INSERT [dbo].[GlobalTestModelParamterList] ([ID], [PID], [ItemName], [ItemType], [Direction], [ItemValue], [SpecMin], [SpecMax], [ItemSpecific], [LogRecord], [Failbreak], [DataRecord], [ItemDescription]) VALUES (3, 1, N'1STOR2STORPIDTXLOP', N'byte', N'input', N'2', -32768, 32767, 0, 0, 0, 0, N'')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[GlobalTestModelParamterList] OFF
/****** Object:  Table [dbo].[GlobalProductionName]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalProductionName](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[PN] [nvarchar](35) NOT NULL,
	[ItemName] [nvarchar](35) NOT NULL,
	[Channels] [tinyint] NOT NULL,
	[Voltages] [tinyint] NOT NULL,
	[Tsensors] [tinyint] NOT NULL,
	[MCoefsID] [int] NOT NULL,
	[AuxAttribles] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_GlobalProductionName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalProductionName] ON
INSERT [dbo].[GlobalProductionName] ([ID], [PID], [PN], [ItemName], [Channels], [Voltages], [Tsensors], [MCoefsID], [AuxAttribles]) VALUES (1, 1, N'TR-QQ13L-N00', N'QSFP LR4', 4, 1, 1, 1, N'OldDriver=1;ApcStyle=0')
INSERT [dbo].[GlobalProductionName] ([ID], [PID], [PN], [ItemName], [Channels], [Voltages], [Tsensors], [MCoefsID], [AuxAttribles]) VALUES (3, 1, N'TR_CGR4_N00', N'CGR4', 4, 1, 1, 4, N'ApcStyle=1')
INSERT [dbo].[GlobalProductionName] ([ID], [PID], [PN], [ItemName], [Channels], [Voltages], [Tsensors], [MCoefsID], [AuxAttribles]) VALUES (4, 3, N'SFP-TEST', N'SFP', 1, 2, 1, 5, N'SFP')
SET IDENTITY_INSERT [dbo].[GlobalProductionName] OFF
/****** Object:  Table [dbo].[GlobalMSAEEPROMInitialize]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalMSAEEPROMInitialize](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ItemType] [nvarchar](20) NOT NULL,
	[Data0] [nvarchar](512) NOT NULL,
	[CRCData0] [tinyint] NOT NULL,
	[Data1] [nvarchar](512) NOT NULL,
	[CRCData1] [tinyint] NOT NULL,
	[Data2] [nvarchar](512) NOT NULL,
	[CRCData2] [tinyint] NOT NULL,
	[Data3] [nvarchar](512) NOT NULL,
	[CRCData3] [tinyint] NOT NULL,
 CONSTRAINT [PK_GlobalMSAEEPROMInitialize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalMSAEEPROMInitialize] ON
SET IDENTITY_INSERT [dbo].[GlobalMSAEEPROMInitialize] OFF
/****** Object:  Table [dbo].[GlobalManufactureChipsetInitialize]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalManufactureChipsetInitialize](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[DriveType] [tinyint] NOT NULL,
	[ChipLine] [tinyint] NOT NULL,
	[RegisterAddress] [int] NOT NULL,
	[Length] [tinyint] NOT NULL,
	[ItemValue] [int] NOT NULL,
	[Endianness] [bit] NOT NULL,
 CONSTRAINT [PK_ManufactureChipsetInitialize_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetInitialize] ON
INSERT [dbo].[GlobalManufactureChipsetInitialize] ([ID], [PID], [DriveType], [ChipLine], [RegisterAddress], [Length], [ItemValue], [Endianness]) VALUES (6, 3, 3, 1, 8, 1, 8, 0)
INSERT [dbo].[GlobalManufactureChipsetInitialize] ([ID], [PID], [DriveType], [ChipLine], [RegisterAddress], [Length], [ItemValue], [Endianness]) VALUES (7, 3, 3, 1, 9, 1, 1, 0)
INSERT [dbo].[GlobalManufactureChipsetInitialize] ([ID], [PID], [DriveType], [ChipLine], [RegisterAddress], [Length], [ItemValue], [Endianness]) VALUES (8, 3, 3, 1, 264, 1, 8, 0)
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetInitialize] OFF
/****** Object:  Table [dbo].[GlobalManufactureChipsetControl]    Script Date: 11/27/2014 14:57:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalManufactureChipsetControl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemName] [nvarchar](20) NOT NULL,
	[ModuleLine] [tinyint] NOT NULL,
	[ChipLine] [tinyint] NOT NULL,
	[DriveType] [tinyint] NOT NULL,
	[RegisterAddress] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[Endianness] [bit] NOT NULL,
 CONSTRAINT [PK_ManufactureChipsetInitialize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetControl] ON
INSERT [dbo].[GlobalManufactureChipsetControl] ([ID], [PID], [ItemName], [ModuleLine], [ChipLine], [DriveType], [RegisterAddress], [Length], [Endianness]) VALUES (3, 3, N'BiasDac', 1, 1, 0, 5, 2, 0)
INSERT [dbo].[GlobalManufactureChipsetControl] ([ID], [PID], [ItemName], [ModuleLine], [ChipLine], [DriveType], [RegisterAddress], [Length], [Endianness]) VALUES (4, 3, N'BiasDac', 2, 2, 0, 5, 2, 0)
INSERT [dbo].[GlobalManufactureChipsetControl] ([ID], [PID], [ItemName], [ModuleLine], [ChipLine], [DriveType], [RegisterAddress], [Length], [Endianness]) VALUES (5, 3, N'BiasDac', 3, 1, 0, 5, 2, 0)
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetControl] OFF
/****** Object:  Default [DF__FunctionT__Title__5EFF0ABF]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[FunctionTable] ADD  CONSTRAINT [DF__FunctionT__Title__5EFF0ABF]  DEFAULT ('') FOR [Title]
GO
/****** Object:  Default [DF__FunctionT__Funct__5FF32EF8]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[FunctionTable] ADD  CONSTRAINT [DF__FunctionT__Funct__5FF32EF8]  DEFAULT ('0') FOR [FunctionCode]
GO
/****** Object:  Default [DF__FunctionT__Remar__60E75331]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[FunctionTable] ADD  CONSTRAINT [DF__FunctionT__Remar__60E75331]  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF_GlobalAllAppModelList_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllAppModelList] ADD  CONSTRAINT [DF_GlobalAllAppModelList_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalAllAppModelList_Description]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllAppModelList] ADD  CONSTRAINT [DF_GlobalAllAppModelList_Description]  DEFAULT ('') FOR [ItemDescription]
GO
/****** Object:  Default [DF_GlobalAllEquipmentList_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentList] ADD  CONSTRAINT [DF_GlobalAllEquipmentList_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalAllEquipmentList_Type]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentList] ADD  CONSTRAINT [DF_GlobalAllEquipmentList_Type]  DEFAULT ('') FOR [ItemType]
GO
/****** Object:  Default [DF_GlobalAllEquipmentList_Description]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentList] ADD  CONSTRAINT [DF_GlobalAllEquipmentList_Description]  DEFAULT ('') FOR [ItemDescription]
GO
/****** Object:  Default [DF_GlobalAllEquipmentParamterList_FieldName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] ADD  CONSTRAINT [DF_GlobalAllEquipmentParamterList_FieldName]  DEFAULT ('') FOR [Item]
GO
/****** Object:  Default [DF_GlobalAllEquipmentParamterList_DefaultValue]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] ADD  CONSTRAINT [DF_GlobalAllEquipmentParamterList_DefaultValue]  DEFAULT ('') FOR [ItemValue]
GO
/****** Object:  Default [DF_GlobalAllEquipmentParamterList_Description]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] ADD  CONSTRAINT [DF_GlobalAllEquipmentParamterList_Description]  DEFAULT ('') FOR [ItemDescription]
GO
/****** Object:  Default [DF_GlobalAllEquipmentParamterList_TypeofValue]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] ADD  CONSTRAINT [DF_GlobalAllEquipmentParamterList_TypeofValue]  DEFAULT ('') FOR [ItemType]
GO
/****** Object:  Default [DF_GlobalAllTestModelList_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllTestModelList] ADD  CONSTRAINT [DF_GlobalAllTestModelList_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalAllTestModelList_Description]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllTestModelList] ADD  CONSTRAINT [DF_GlobalAllTestModelList_Description]  DEFAULT ('') FOR [ItemDescription]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_PID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_PID]  DEFAULT ((0)) FOR [PID]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_ItemName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_ItemName]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_ModuleLine]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_ModuleLine]  DEFAULT ((0)) FOR [ModuleLine]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_ChipLine]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_ChipLine]  DEFAULT ((0)) FOR [ChipLine]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_DriveType]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_DriveType]  DEFAULT ((0)) FOR [DriveType]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_RegisterAddress]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_RegisterAddress]  DEFAULT ((0)) FOR [RegisterAddress]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_Length]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_Length]  DEFAULT ((1)) FOR [Length]
GO
/****** Object:  Default [DF_GlobalManufactureChipsetControl_Endianness]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] ADD  CONSTRAINT [DF_GlobalManufactureChipsetControl_Endianness]  DEFAULT ('false') FOR [Endianness]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_PID_1]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_PID_1]  DEFAULT ((0)) FOR [PID]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_DriveType_1]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_DriveType_1]  DEFAULT ((0)) FOR [DriveType]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_ChipLine_1]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_ChipLine_1]  DEFAULT ((0)) FOR [ChipLine]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_RegisterAddress_1]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_RegisterAddress_1]  DEFAULT ((0)) FOR [RegisterAddress]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_Length_1]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_Length_1]  DEFAULT ((0)) FOR [Length]
GO
/****** Object:  Default [DF_ManufactureChipsetInitialize_ItemVaule]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_ManufactureChipsetInitialize_ItemVaule]  DEFAULT ((0)) FOR [ItemValue]
GO
/****** Object:  Default [DF_GlobalManufactureChipsetInitialize_Endianness]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] ADD  CONSTRAINT [DF_GlobalManufactureChipsetInitialize_Endianness]  DEFAULT ('false') FOR [Endianness]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_PID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_PID]  DEFAULT ((0)) FOR [PID]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_TYPE]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_TYPE]  DEFAULT ('') FOR [ItemTYPE]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_Channel]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_Channel]  DEFAULT ('0') FOR [Channel]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_Page]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_Page]  DEFAULT ('0') FOR [Page]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_StartAddress]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_StartAddress]  DEFAULT ('0') FOR [StartAddress]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_Length]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_Length]  DEFAULT ('0') FOR [Length]
GO
/****** Object:  Default [DF_GlobalManufactureMemory_Format]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients] ADD  CONSTRAINT [DF_GlobalManufactureMemory_Format]  DEFAULT ('') FOR [Format]
GO
/****** Object:  Default [DF_GlobalManufactureMemoryGroupTable_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficientsGroup] ADD  CONSTRAINT [DF_GlobalManufactureMemoryGroupTable_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalMSA_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSA] ADD  CONSTRAINT [DF_GlobalMSA_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalMSA_AccessInterface]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSA] ADD  CONSTRAINT [DF_GlobalMSA_AccessInterface]  DEFAULT ('') FOR [AccessInterface]
GO
/****** Object:  Default [DF_GlobalMSA_SlaveAddress]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSA] ADD  CONSTRAINT [DF_GlobalMSA_SlaveAddress]  DEFAULT ((0)) FOR [SlaveAddress]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_PID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_PID]  DEFAULT ((0)) FOR [PID]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_FieldName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_FieldName]  DEFAULT ('') FOR [FieldName]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_Channel]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_Channel]  DEFAULT ('0') FOR [Channel]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_SlaveAddress]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_SlaveAddress]  DEFAULT ('0') FOR [SlaveAddress]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_Page]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_Page]  DEFAULT ('0') FOR [Page]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_StartAddress]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_StartAddress]  DEFAULT ('0') FOR [StartAddress]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_Length]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_Length]  DEFAULT ('0') FOR [Length]
GO
/****** Object:  Default [DF_GlobalMSADefintionInf_Format]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf] ADD  CONSTRAINT [DF_GlobalMSADefintionInf_Format]  DEFAULT ('') FOR [Format]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_PID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_PID]  DEFAULT ((0)) FOR [PID]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_ItemType1]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_ItemType1]  DEFAULT ((0)) FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_SlaveAddress]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_SlaveAddress]  DEFAULT ((0)) FOR [ItemType]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Page]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Page]  DEFAULT ((0)) FOR [Data0]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Address]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Address]  DEFAULT ((0)) FOR [CRCData0]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Length]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Length]  DEFAULT ((1)) FOR [Data1]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_ItemValue]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_ItemValue]  DEFAULT ((0)) FOR [CRCData1]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Data01]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Data01]  DEFAULT ((0)) FOR [Data2]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Data02]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Data02]  DEFAULT ((0)) FOR [CRCData2]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Data03]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Data03]  DEFAULT ((0)) FOR [Data3]
GO
/****** Object:  Default [DF_GlobalMSAEEPROMInitialize_Data04]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] ADD  CONSTRAINT [DF_GlobalMSAEEPROMInitialize_Data04]  DEFAULT ((0)) FOR [CRCData3]
GO
/****** Object:  Default [DF_GlobalProductionName_PID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_PID]  DEFAULT ((0)) FOR [PID]
GO
/****** Object:  Default [DF_GlobalProductionName_PN]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_PN]  DEFAULT ('') FOR [PN]
GO
/****** Object:  Default [DF_GlobalProductionName_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalProductionName_Channels]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_Channels]  DEFAULT ('4') FOR [Channels]
GO
/****** Object:  Default [DF_GlobalProductionName_Voltages]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_Voltages]  DEFAULT ((0)) FOR [Voltages]
GO
/****** Object:  Default [DF_GlobalProductionName_Tsensors]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_Tsensors]  DEFAULT ((0)) FOR [Tsensors]
GO
/****** Object:  Default [DF_GlobalProductionName_MGroupID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_MGroupID]  DEFAULT ('0') FOR [MCoefsID]
GO
/****** Object:  Default [DF_GlobalProductionName_AuxAttribles]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName] ADD  CONSTRAINT [DF_GlobalProductionName_AuxAttribles]  DEFAULT ('') FOR [AuxAttribles]
GO
/****** Object:  Default [DF_GlobalProductionType_Name]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionType] ADD  CONSTRAINT [DF_GlobalProductionType_Name]  DEFAULT ('') FOR [ItemName]
GO
/****** Object:  Default [DF_GlobalProductionType_MSAID]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionType] ADD  CONSTRAINT [DF_GlobalProductionType_MSAID]  DEFAULT ('0') FOR [MSAID]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_ItemValue]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_ItemValue]  DEFAULT ('-32768') FOR [ItemValue]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_DefaultLowLimit]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_DefaultLowLimit]  DEFAULT ('-32768') FOR [SpecMin]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_DefaultUpperLimit]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_DefaultUpperLimit]  DEFAULT ('32767') FOR [SpecMax]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_ItemSpecific]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_ItemSpecific]  DEFAULT ('0') FOR [ItemSpecific]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_LogRecord]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_LogRecord]  DEFAULT ('0') FOR [LogRecord]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_Failbreak]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_Failbreak]  DEFAULT ('0') FOR [Failbreak]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_DataRecord]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_DataRecord]  DEFAULT ('0') FOR [DataRecord]
GO
/****** Object:  Default [DF_GlobalTestModelParamterList_ItemDescription]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList] ADD  CONSTRAINT [DF_GlobalTestModelParamterList_ItemDescription]  DEFAULT ('') FOR [ItemDescription]
GO
/****** Object:  Default [DF__RoleFunct__RoleI__63C3BFDC]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[RoleFunctionTable] ADD  DEFAULT ('0') FOR [RoleID]
GO
/****** Object:  Default [DF__RoleFunct__Funct__64B7E415]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[RoleFunctionTable] ADD  DEFAULT ('0') FOR [FunctionID]
GO
/****** Object:  Default [DF__RolesTabl__RoleN__5B2E79DB]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[RolesTable] ADD  CONSTRAINT [DF__RolesTabl__RoleN__5B2E79DB]  DEFAULT ('') FOR [RoleName]
GO
/****** Object:  Default [DF__RolesTabl__Remar__5C229E14]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[RolesTable] ADD  CONSTRAINT [DF__RolesTabl__Remar__5C229E14]  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  Default [DF__UserRoleT__UserI__679450C0]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserRoleTable] ADD  CONSTRAINT [DF__UserRoleT__UserI__679450C0]  DEFAULT ('0') FOR [UserID]
GO
/****** Object:  Default [DF__UserRoleT__RoleI__688874F9]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserRoleTable] ADD  CONSTRAINT [DF__UserRoleT__RoleI__688874F9]  DEFAULT ('0') FOR [RoleID]
GO
/****** Object:  Default [DF_UserInfo_TrueName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_TrueName]  DEFAULT ('') FOR [TrueName]
GO
/****** Object:  Default [DF_UserInfo_CreatTime]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_CreatTime]  DEFAULT (getdate()) FOR [lastLoginONTime]
GO
/****** Object:  Default [DF_UserInfo_lastComputerName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_lastComputerName]  DEFAULT ('') FOR [lastComputerName]
GO
/****** Object:  Default [DF_UserInfo_lastLoginOffTime]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_lastLoginOffTime]  DEFAULT ('2000/1/1 12:00:00') FOR [lastLoginOffTime]
GO
/****** Object:  Default [DF_UserInfo_lastIP]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_lastIP]  DEFAULT ('0.0.0.0') FOR [lastIP]
GO
/****** Object:  Default [DF_UserInfo_Remarks]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_Remarks]  DEFAULT ('') FOR [Remarks]
GO
/****** Object:  ForeignKey [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList]  WITH CHECK ADD  CONSTRAINT [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalAllEquipmentList] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] CHECK CONSTRAINT [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]
GO
/****** Object:  ForeignKey [FK_GlobalAllTestModelList_GlobalAllAppModelList]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalAllTestModelList]  WITH CHECK ADD  CONSTRAINT [FK_GlobalAllTestModelList_GlobalAllAppModelList] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalAllAppModelList] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalAllTestModelList] CHECK CONSTRAINT [FK_GlobalAllTestModelList_GlobalAllAppModelList]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureChipsetControl_GlobalProductionName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetControl]  WITH CHECK ADD  CONSTRAINT [FK_GlobalManufactureChipsetControl_GlobalProductionName] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionName] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] CHECK CONSTRAINT [FK_GlobalManufactureChipsetControl_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize]  WITH CHECK ADD  CONSTRAINT [FK_GlobalManufactureChipsetInitialize_GlobalProductionName] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionName] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] CHECK CONSTRAINT [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalManufactureCoefficients]  WITH CHECK ADD  CONSTRAINT [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalManufactureCoefficientsGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalManufactureCoefficients] CHECK CONSTRAINT [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]
GO
/****** Object:  ForeignKey [FK_GlobalMSADefintionInf_GlobalMSA]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSADefintionInf]  WITH CHECK ADD  CONSTRAINT [FK_GlobalMSADefintionInf_GlobalMSA] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalMSA] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GlobalMSADefintionInf] CHECK CONSTRAINT [FK_GlobalMSADefintionInf_GlobalMSA]
GO
/****** Object:  ForeignKey [FK_GlobalMSAEEPROMInitialize_GlobalProductionName]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize]  WITH CHECK ADD  CONSTRAINT [FK_GlobalMSAEEPROMInitialize_GlobalProductionName] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionName] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalMSAEEPROMInitialize] CHECK CONSTRAINT [FK_GlobalMSAEEPROMInitialize_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName]  WITH CHECK ADD  CONSTRAINT [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup] FOREIGN KEY([MCoefsID])
REFERENCES [dbo].[GlobalManufactureCoefficientsGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalProductionName] CHECK CONSTRAINT [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]
GO
/****** Object:  ForeignKey [FK_GlobalProductionName_GlobalProductionType]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionName]  WITH CHECK ADD  CONSTRAINT [FK_GlobalProductionName_GlobalProductionType] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionType] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalProductionName] CHECK CONSTRAINT [FK_GlobalProductionName_GlobalProductionType]
GO
/****** Object:  ForeignKey [FK_GlobalProductionType_GlobalMSA]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalProductionType]  WITH CHECK ADD  CONSTRAINT [FK_GlobalProductionType_GlobalMSA] FOREIGN KEY([MSAID])
REFERENCES [dbo].[GlobalMSA] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GlobalProductionType] CHECK CONSTRAINT [FK_GlobalProductionType_GlobalMSA]
GO
/****** Object:  ForeignKey [FK_GlobalTestModelParamterList_GlobalAllTestModelList]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[GlobalTestModelParamterList]  WITH CHECK ADD  CONSTRAINT [FK_GlobalTestModelParamterList_GlobalAllTestModelList] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalAllTestModelList] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GlobalTestModelParamterList] CHECK CONSTRAINT [FK_GlobalTestModelParamterList_GlobalAllTestModelList]
GO
/****** Object:  ForeignKey [FK_RoleFunctionTable_FunctionTable]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[RoleFunctionTable]  WITH CHECK ADD  CONSTRAINT [FK_RoleFunctionTable_FunctionTable] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[FunctionTable] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleFunctionTable] CHECK CONSTRAINT [FK_RoleFunctionTable_FunctionTable]
GO
/****** Object:  ForeignKey [FK_RoleFunctionTable_RolesTable]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[RoleFunctionTable]  WITH CHECK ADD  CONSTRAINT [FK_RoleFunctionTable_RolesTable] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RolesTable] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleFunctionTable] CHECK CONSTRAINT [FK_RoleFunctionTable_RolesTable]
GO
/****** Object:  ForeignKey [FK_UserRoleTable_RolesTable]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserRoleTable]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTable_RolesTable] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RolesTable] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleTable] CHECK CONSTRAINT [FK_UserRoleTable_RolesTable]
GO
/****** Object:  ForeignKey [FK_UserRoleTable_UserInfo]    Script Date: 11/27/2014 14:57:06 ******/
ALTER TABLE [dbo].[UserRoleTable]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTable_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleTable] CHECK CONSTRAINT [FK_UserRoleTable_UserInfo]
GO
