USE [ATSHome]
GO
/****** Object:  ForeignKey [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentParamterList]'))
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] DROP CONSTRAINT [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]
GO
/****** Object:  ForeignKey [FK_GlobalAllTestModelList_GlobalAllAppModelList]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllTestModelList_GlobalAllAppModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllTestModelList]'))
ALTER TABLE [dbo].[GlobalAllTestModelList] DROP CONSTRAINT [FK_GlobalAllTestModelList_GlobalAllAppModelList]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureChipsetControl_GlobalProductionName]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetControl_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [FK_GlobalManufactureChipsetControl_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetInitialize_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]'))
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]
GO
/****** Object:  ForeignKey [FK_GlobalMSADefintionInf_GlobalMSA]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalMSADefintionInf_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]'))
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [FK_GlobalMSADefintionInf_GlobalMSA]
GO
/****** Object:  ForeignKey [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]
GO
/****** Object:  ForeignKey [FK_GlobalProductionName_GlobalProductionType]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalProductionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [FK_GlobalProductionName_GlobalProductionType]
GO
/****** Object:  ForeignKey [FK_GlobalProductionType_GlobalMSA]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionType_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionType]'))
ALTER TABLE [dbo].[GlobalProductionType] DROP CONSTRAINT [FK_GlobalProductionType_GlobalMSA]
GO
/****** Object:  ForeignKey [FK_GlobalTestModelParamterList_GlobalAllTestModelList]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalTestModelParamterList_GlobalAllTestModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalTestModelParamterList]'))
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [FK_GlobalTestModelParamterList_GlobalAllTestModelList]
GO
/****** Object:  ForeignKey [FK_RoleFunctionTable_FunctionTable]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_FunctionTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable] DROP CONSTRAINT [FK_RoleFunctionTable_FunctionTable]
GO
/****** Object:  ForeignKey [FK_RoleFunctionTable_RolesTable]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable] DROP CONSTRAINT [FK_RoleFunctionTable_RolesTable]
GO
/****** Object:  ForeignKey [FK_UserRoleTable_RolesTable]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable] DROP CONSTRAINT [FK_UserRoleTable_RolesTable]
GO
/****** Object:  ForeignKey [FK_UserRoleTable_UserInfo]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_UserInfo]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable] DROP CONSTRAINT [FK_UserRoleTable_UserInfo]
GO
/****** Object:  Table [dbo].[GlobalManufactureChipsetControl]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetControl_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [FK_GlobalManufactureChipsetControl_GlobalProductionName]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_PID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_PID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_ItemName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_ItemName]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_ModuleLine]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_ModuleLine]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_ChipLine]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_ChipLine]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_DriveType]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_DriveType]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_RegisterAddress]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_RegisterAddress]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_Length]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_Length]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureChipsetControl_Endianness]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] DROP CONSTRAINT [DF_GlobalManufactureChipsetControl_Endianness]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalManufactureChipsetControl]
GO
/****** Object:  Table [dbo].[GlobalManufactureChipsetInitialize]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetInitialize_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_PID_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_PID_1]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_DriveType_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_DriveType_1]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_ChipLine_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_ChipLine_1]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_RegisterAddress_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_RegisterAddress_1]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_Length_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_Length_1]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_ManufactureChipsetInitialize_ItemVaule]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_ManufactureChipsetInitialize_ItemVaule]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureChipsetInitialize_Endianness]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] DROP CONSTRAINT [DF_GlobalManufactureChipsetInitialize_Endianness]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalManufactureChipsetInitialize]
GO
/****** Object:  Table [dbo].[GlobalProductionName]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalProductionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [FK_GlobalProductionName_GlobalProductionType]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_PID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_PID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_PN]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_PN]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_Channels]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_Channels]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_Voltages]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_Voltages]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_Tsensors]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_Tsensors]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_MGroupID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_MGroupID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_AuxAttribles]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_AuxAttribles]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionName_IgnoreFlag_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionName] DROP CONSTRAINT [DF_GlobalProductionName_IgnoreFlag_1]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalProductionName]
GO
/****** Object:  Table [dbo].[GlobalTestModelParamterList]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalTestModelParamterList_GlobalAllTestModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalTestModelParamterList]'))
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [FK_GlobalTestModelParamterList_GlobalAllTestModelList]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_ItemValue]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_ItemValue]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_DefaultLowLimit]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_DefaultLowLimit]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_DefaultUpperLimit]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_DefaultUpperLimit]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_ItemSpecific]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_ItemSpecific]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_LogRecord]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_LogRecord]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_DataRecord]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_DataRecord]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalTestModelParamterList_ItemDescription]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalTestModelParamterList] DROP CONSTRAINT [DF_GlobalTestModelParamterList_ItemDescription]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalTestModelParamterList]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalTestModelParamterList]
GO
/****** Object:  StoredProcedure [dbo].[InsertLogRecord]    Script Date: 05/19/2015 12:42:23 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertLogRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertLogRecord]
GO
/****** Object:  StoredProcedure [dbo].[InsertRunRecord]    Script Date: 05/19/2015 12:42:23 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertRunRecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InsertRunRecord]
GO
/****** Object:  Table [dbo].[RoleFunctionTable]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_FunctionTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable] DROP CONSTRAINT [FK_RoleFunctionTable_FunctionTable]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable] DROP CONSTRAINT [FK_RoleFunctionTable_RolesTable]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__RoleFunct__RoleI__63C3BFDC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RoleFunctionTable] DROP CONSTRAINT [DF__RoleFunct__RoleI__63C3BFDC]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__RoleFunct__Funct__64B7E415]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RoleFunctionTable] DROP CONSTRAINT [DF__RoleFunct__Funct__64B7E415]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]') AND type in (N'U'))
DROP TABLE [dbo].[RoleFunctionTable]
GO
/****** Object:  Table [dbo].[GlobalAllEquipmentParamterList]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentParamterList]'))
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] DROP CONSTRAINT [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentParamterList_FieldName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] DROP CONSTRAINT [DF_GlobalAllEquipmentParamterList_FieldName]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentParamterList_DefaultValue]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] DROP CONSTRAINT [DF_GlobalAllEquipmentParamterList_DefaultValue]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentParamterList_Description]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] DROP CONSTRAINT [DF_GlobalAllEquipmentParamterList_Description]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentParamterList_TypeofValue]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] DROP CONSTRAINT [DF_GlobalAllEquipmentParamterList_TypeofValue]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentParamterList]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalAllEquipmentParamterList]
GO
/****** Object:  Table [dbo].[GlobalAllTestModelList]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllTestModelList_GlobalAllAppModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllTestModelList]'))
ALTER TABLE [dbo].[GlobalAllTestModelList] DROP CONSTRAINT [FK_GlobalAllTestModelList_GlobalAllAppModelList]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllTestModelList_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllTestModelList] DROP CONSTRAINT [DF_GlobalAllTestModelList_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllTestModelList_Description]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllTestModelList] DROP CONSTRAINT [DF_GlobalAllTestModelList_Description]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllTestModelList]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalAllTestModelList]
GO
/****** Object:  Table [dbo].[GlobalMSADefintionInf]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalMSADefintionInf_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]'))
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [FK_GlobalMSADefintionInf_GlobalMSA]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_PID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_PID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_FieldName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_FieldName]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_Channel]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_Channel]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_SlaveAddress]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_SlaveAddress]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_Page]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_Page]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_StartAddress]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_StartAddress]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_Length]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_Length]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSADefintionInf_Format]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSADefintionInf] DROP CONSTRAINT [DF_GlobalMSADefintionInf_Format]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalMSADefintionInf]
GO
/****** Object:  Table [dbo].[UserRoleTable]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable] DROP CONSTRAINT [FK_UserRoleTable_RolesTable]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_UserInfo]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable] DROP CONSTRAINT [FK_UserRoleTable_UserInfo]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__UserRoleT__UserI__679450C0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserRoleTable] DROP CONSTRAINT [DF__UserRoleT__UserI__679450C0]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__UserRoleT__RoleI__688874F9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserRoleTable] DROP CONSTRAINT [DF__UserRoleT__RoleI__688874F9]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoleTable]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoleTable]
GO
/****** Object:  Table [dbo].[GlobalProductionType]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionType_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionType]'))
ALTER TABLE [dbo].[GlobalProductionType] DROP CONSTRAINT [FK_GlobalProductionType_GlobalMSA]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionType_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionType] DROP CONSTRAINT [DF_GlobalProductionType_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionType_MSAID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionType] DROP CONSTRAINT [DF_GlobalProductionType_MSAID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalProductionType_IgnoreFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalProductionType] DROP CONSTRAINT [DF_GlobalProductionType_IgnoreFlag]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalProductionType]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalProductionType]
GO
/****** Object:  Table [dbo].[GlobalManufactureCoefficients]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]'))
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_PID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_PID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_TYPE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_TYPE]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_Channel]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_Channel]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_Page]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_Page]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_StartAddress]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_StartAddress]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_Length]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_Length]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemory_Format]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficients] DROP CONSTRAINT [DF_GlobalManufactureMemory_Format]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalManufactureCoefficients]
GO
/****** Object:  Table [dbo].[GlobalManufactureCoefficientsGroup]    Script Date: 05/19/2015 12:42:25 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureMemoryGroupTable_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficientsGroup] DROP CONSTRAINT [DF_GlobalManufactureMemoryGroupTable_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureCoefficientsGroup_TypeID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficientsGroup] DROP CONSTRAINT [DF_GlobalManufactureCoefficientsGroup_TypeID]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureCoefficientsGroup_ItemDescription_1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficientsGroup] DROP CONSTRAINT [DF_GlobalManufactureCoefficientsGroup_ItemDescription_1]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalManufactureCoefficientsGroup_IgnoreFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalManufactureCoefficientsGroup] DROP CONSTRAINT [DF_GlobalManufactureCoefficientsGroup_IgnoreFlag]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficientsGroup]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalManufactureCoefficientsGroup]
GO
/****** Object:  Table [dbo].[GlobalMSA]    Script Date: 05/19/2015 12:42:26 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSA_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSA] DROP CONSTRAINT [DF_GlobalMSA_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSA_AccessInterface]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSA] DROP CONSTRAINT [DF_GlobalMSA_AccessInterface]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSA_SlaveAddress]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSA] DROP CONSTRAINT [DF_GlobalMSA_SlaveAddress]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalMSA_IgnoreFlag]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalMSA] DROP CONSTRAINT [DF_GlobalMSA_IgnoreFlag]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalMSA]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalMSA]
GO
/****** Object:  Table [dbo].[FunctionTable]    Script Date: 05/19/2015 12:42:24 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__FunctionT__Title__5EFF0ABF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FunctionTable] DROP CONSTRAINT [DF__FunctionT__Title__5EFF0ABF]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__FunctionT__Funct__5FF32EF8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FunctionTable] DROP CONSTRAINT [DF__FunctionT__Funct__5FF32EF8]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__FunctionT__Remar__60E75331]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FunctionTable] DROP CONSTRAINT [DF__FunctionT__Remar__60E75331]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FunctionTable]') AND type in (N'U'))
DROP TABLE [dbo].[FunctionTable]
GO
/****** Object:  StoredProcedure [dbo].[GetCurrServerTime]    Script Date: 05/19/2015 12:42:23 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCurrServerTime]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetCurrServerTime]
GO
/****** Object:  Table [dbo].[GlobalAllAppModelList]    Script Date: 05/19/2015 12:42:24 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllAppModelList_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllAppModelList] DROP CONSTRAINT [DF_GlobalAllAppModelList_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllAppModelList_Description]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllAppModelList] DROP CONSTRAINT [DF_GlobalAllAppModelList_Description]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllAppModelList]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalAllAppModelList]
GO
/****** Object:  Table [dbo].[GlobalAllEquipmentList]    Script Date: 05/19/2015 12:42:24 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentList_Name]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentList] DROP CONSTRAINT [DF_GlobalAllEquipmentList_Name]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentList_Type]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentList] DROP CONSTRAINT [DF_GlobalAllEquipmentList_Type]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GlobalAllEquipmentList_Description]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GlobalAllEquipmentList] DROP CONSTRAINT [DF_GlobalAllEquipmentList_Description]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentList]') AND type in (N'U'))
DROP TABLE [dbo].[GlobalAllEquipmentList]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserInfo_TrueName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserInfo] DROP CONSTRAINT [DF_UserInfo_TrueName]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserInfo_CreatTime]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserInfo] DROP CONSTRAINT [DF_UserInfo_CreatTime]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserInfo_lastComputerName]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserInfo] DROP CONSTRAINT [DF_UserInfo_lastComputerName]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserInfo_lastLoginOffTime]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserInfo] DROP CONSTRAINT [DF_UserInfo_lastLoginOffTime]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserInfo_lastIP]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserInfo] DROP CONSTRAINT [DF_UserInfo_lastIP]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UserInfo_Remarks]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UserInfo] DROP CONSTRAINT [DF_UserInfo_Remarks]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserInfo]') AND type in (N'U'))
DROP TABLE [dbo].[UserInfo]
GO
/****** Object:  Table [dbo].[RolesTable]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__RolesTabl__RoleN__5B2E79DB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RolesTable] DROP CONSTRAINT [DF__RolesTabl__RoleN__5B2E79DB]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__RolesTabl__Remar__5C229E14]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RolesTable] DROP CONSTRAINT [DF__RolesTabl__Remar__5C229E14]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolesTable]') AND type in (N'U'))
DROP TABLE [dbo].[RolesTable]
GO
/****** Object:  User [ATSUser]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'ATSUser')
DROP USER [ATSUser]
GO
/****** Object:  User [BackGround]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'BackGround')
DROP USER [BackGround]
GO
/****** Object:  User [InnoReader]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'InnoReader')
DROP USER [InnoReader]
GO
/****** Object:  User [maintainUser]    Script Date: 05/19/2015 12:42:27 ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'maintainUser')
DROP USER [maintainUser]
GO
/****** Object:  User [ATSUser]    Script Date: 05/19/2015 12:42:27 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'ATSUser')
CREATE USER [ATSUser] FOR LOGIN [ATSUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BackGround]    Script Date: 05/19/2015 12:42:27 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'BackGround')
CREATE USER [BackGround] FOR LOGIN [ATSBackGround] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [InnoReader]    Script Date: 05/19/2015 12:42:27 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'InnoReader')
CREATE USER [InnoReader] FOR LOGIN [InnoReader] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [maintainUser]    Script Date: 05/19/2015 12:42:27 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'maintainUser')
CREATE USER [maintainUser] FOR LOGIN [ATSMaintainUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[RolesTable]    Script Date: 05/19/2015 12:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolesTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RolesTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](25) NOT NULL CONSTRAINT [DF__RolesTabl__RoleN__5B2E79DB]  DEFAULT (''),
	[Remarks] [nvarchar](25) NOT NULL CONSTRAINT [DF__RolesTabl__Remar__5C229E14]  DEFAULT (''),
 CONSTRAINT [PK_RolesTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[RolesTable] ON
INSERT [dbo].[RolesTable] ([ID], [RoleName], [Remarks]) VALUES (1, N'TestEngineer', N'测试工程师')
INSERT [dbo].[RolesTable] ([ID], [RoleName], [Remarks]) VALUES (2, N'OP', N'普通操作者')
INSERT [dbo].[RolesTable] ([ID], [RoleName], [Remarks]) VALUES (3, N'Admin', N'管理员')
SET IDENTITY_INSERT [dbo].[RolesTable] OFF
/****** Object:  Table [dbo].[UserInfo]    Script Date: 05/19/2015 12:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[LoginPassword] [nvarchar](50) NOT NULL,
	[TrueName] [nvarchar](20) NOT NULL CONSTRAINT [DF_UserInfo_TrueName]  DEFAULT (''),
	[lastLoginONTime] [datetime] NOT NULL CONSTRAINT [DF_UserInfo_CreatTime]  DEFAULT (getdate()),
	[lastComputerName] [nvarchar](50) NOT NULL CONSTRAINT [DF_UserInfo_lastComputerName]  DEFAULT (''),
	[lastLoginOffTime] [datetime] NOT NULL CONSTRAINT [DF_UserInfo_lastLoginOffTime]  DEFAULT ('2000/1/1 12:00:00'),
	[lastIP] [nvarchar](20) NOT NULL CONSTRAINT [DF_UserInfo_lastIP]  DEFAULT ('0.0.0.0'),
	[Remarks] [nvarchar](50) NULL CONSTRAINT [DF_UserInfo_Remarks]  DEFAULT (''),
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_UserInfo] UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON
INSERT [dbo].[UserInfo] ([ID], [LoginName], [LoginPassword], [TrueName], [lastLoginONTime], [lastComputerName], [lastLoginOffTime], [lastIP], [Remarks]) VALUES (2, N'terry.yin', N'terry', N'ysz', CAST(0x0000A43700BC541C AS DateTime), N'INPCSZ0442', CAST(0x0000A43700BC6358 AS DateTime), N'10.160.80.53', N'测试1')
INSERT [dbo].[UserInfo] ([ID], [LoginName], [LoginPassword], [TrueName], [lastLoginONTime], [lastComputerName], [lastLoginOffTime], [lastIP], [Remarks]) VALUES (5, N'Leo', N'leo', N'陈江鹏', CAST(0x0000A3D400DCFB5B AS DateTime), N'', CAST(0x00008EAC00C5C100 AS DateTime), N'0.0.0.0', N'测试0')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
/****** Object:  Table [dbo].[GlobalAllEquipmentList]    Script Date: 05/19/2015 12:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalAllEquipmentList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentList_Name]  DEFAULT (''),
	[ItemType] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentList_Type]  DEFAULT (''),
	[ItemDescription] [nvarchar](50) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentList_Description]  DEFAULT (''),
 CONSTRAINT [PK_GlobalAllEquipmentList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalAllEquipmentList] UNIQUE NONCLUSTERED 
(
	[ItemName] ASC,
	[ItemType] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentList] ON
INSERT [dbo].[GlobalAllEquipmentList] ([ID], [ItemName], [ItemType], [ItemDescription]) VALUES (1, N'E3631', N'Powersupply', N'电源')
INSERT [dbo].[GlobalAllEquipmentList] ([ID], [ItemName], [ItemType], [ItemDescription]) VALUES (2, N'AQ2211Atten', N'Attennuator', N'衰减器')
INSERT [dbo].[GlobalAllEquipmentList] ([ID], [ItemName], [ItemType], [ItemDescription]) VALUES (3, N'D86100', N'Scope', N'示波器')
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentList] OFF
/****** Object:  Table [dbo].[GlobalAllAppModelList]    Script Date: 05/19/2015 12:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllAppModelList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalAllAppModelList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalAllAppModelList_Name]  DEFAULT (''),
	[ItemDescription] [nvarchar](50) NOT NULL CONSTRAINT [DF_GlobalAllAppModelList_Description]  DEFAULT (''),
 CONSTRAINT [PK_GlobalAllAppModelList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalAllAppModelList] UNIQUE NONCLUSTERED 
(
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalAllAppModelList] ON
INSERT [dbo].[GlobalAllAppModelList] ([ID], [ItemName], [ItemDescription]) VALUES (1, N'APPTXCAL', N'TXCalibration')
INSERT [dbo].[GlobalAllAppModelList] ([ID], [ItemName], [ItemDescription]) VALUES (2, N'APPTXFMT', N'TXFinalModuleTest')
INSERT [dbo].[GlobalAllAppModelList] ([ID], [ItemName], [ItemDescription]) VALUES (3, N'APPRXCAL', N'RXCalibration')
SET IDENTITY_INSERT [dbo].[GlobalAllAppModelList] OFF
/****** Object:  StoredProcedure [dbo].[GetCurrServerTime]    Script Date: 05/19/2015 12:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetCurrServerTime]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'--存储过程 GetCurrServerTime
--
--获取当前的系统时间
--
--参数		方向	类型		描述
--@CurrTime	Out		datetime	服务器当前时间

CREATE PROCEDURE [dbo].[GetCurrServerTime]
--@CurrTime varchar(30) Output
@CurrTime datetime Output
AS

BEGIN

SET XACT_ABORT ON 
BEGIN TRANSACTION 
--set @CurrTime = (SELECT CONVERT(varchar(30), GETDATE(), 120))
set @CurrTime = GETDATE()

COMMIT TRANSACTION 
SET XACT_ABORT OFF 

print @CurrTime
END
' 
END
GO
/****** Object:  Table [dbo].[FunctionTable]    Script Date: 05/19/2015 12:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FunctionTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FunctionTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](25) NOT NULL CONSTRAINT [DF__FunctionT__Title__5EFF0ABF]  DEFAULT (''),
	[FunctionCode] [int] NOT NULL CONSTRAINT [DF__FunctionT__Funct__5FF32EF8]  DEFAULT ('0'),
	[Remarks] [nvarchar](25) NOT NULL CONSTRAINT [DF__FunctionT__Remar__60E75331]  DEFAULT (''),
 CONSTRAINT [PK_FunctionTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_FunctionTable] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_FunctionTable_1] UNIQUE NONCLUSTERED 
(
	[FunctionCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[FunctionTable] ON
INSERT [dbo].[FunctionTable] ([ID], [Title], [FunctionCode], [Remarks]) VALUES (1, N'Readable', 1, N'TestPlan查询')
INSERT [dbo].[FunctionTable] ([ID], [Title], [FunctionCode], [Remarks]) VALUES (2, N'Writable', 2, N'TestPlan编辑')
INSERT [dbo].[FunctionTable] ([ID], [Title], [FunctionCode], [Remarks]) VALUES (3, N'Addable', 4, N'TestPlan新增')
SET IDENTITY_INSERT [dbo].[FunctionTable] OFF
/****** Object:  Table [dbo].[GlobalMSA]    Script Date: 05/19/2015 12:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalMSA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalMSA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](25) NOT NULL CONSTRAINT [DF_GlobalMSA_Name]  DEFAULT (''),
	[AccessInterface] [nvarchar](25) NOT NULL CONSTRAINT [DF_GlobalMSA_AccessInterface]  DEFAULT (''),
	[SlaveAddress] [int] NOT NULL CONSTRAINT [DF_GlobalMSA_SlaveAddress]  DEFAULT ((0)),
	[IgnoreFlag] [bit] NOT NULL CONSTRAINT [DF_GlobalMSA_IgnoreFlag]  DEFAULT ('false'),
 CONSTRAINT [PK_GlobalMSA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalMSA] UNIQUE NONCLUSTERED 
(
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalMSA] ON
INSERT [dbo].[GlobalMSA] ([ID], [ItemName], [AccessInterface], [SlaveAddress], [IgnoreFlag]) VALUES (1, N'SFF8636', N'I2C', 160, 0)
INSERT [dbo].[GlobalMSA] ([ID], [ItemName], [AccessInterface], [SlaveAddress], [IgnoreFlag]) VALUES (2, N'CFP4MSA', N'MDIO', 32768, 0)
INSERT [dbo].[GlobalMSA] ([ID], [ItemName], [AccessInterface], [SlaveAddress], [IgnoreFlag]) VALUES (3, N'SFF8472', N'I2C', 162, 0)
SET IDENTITY_INSERT [dbo].[GlobalMSA] OFF
/****** Object:  Table [dbo].[GlobalManufactureCoefficientsGroup]    Script Date: 05/19/2015 12:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficientsGroup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalManufactureCoefficientsGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalManufactureMemoryGroupTable_Name]  DEFAULT (''),
	[TypeID] [int] NOT NULL CONSTRAINT [DF_GlobalManufactureCoefficientsGroup_TypeID]  DEFAULT ((0)),
	[ItemDescription] [nvarchar](200) NOT NULL CONSTRAINT [DF_GlobalManufactureCoefficientsGroup_ItemDescription_1]  DEFAULT (''),
	[IgnoreFlag] [bit] NOT NULL CONSTRAINT [DF_GlobalManufactureCoefficientsGroup_IgnoreFlag]  DEFAULT ('false'),
 CONSTRAINT [PK_GlobalManufactureMemoryGroupTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalManufactureCoefficientsGroup] UNIQUE NONCLUSTERED 
(
	[TypeID] ASC,
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficientsGroup] ON
INSERT [dbo].[GlobalManufactureCoefficientsGroup] ([ID], [ItemName], [TypeID], [ItemDescription], [IgnoreFlag]) VALUES (1, N'QFSP_LR4', 1, N'', 0)
INSERT [dbo].[GlobalManufactureCoefficientsGroup] ([ID], [ItemName], [TypeID], [ItemDescription], [IgnoreFlag]) VALUES (4, N'CGR4', 1, N'', 0)
INSERT [dbo].[GlobalManufactureCoefficientsGroup] ([ID], [ItemName], [TypeID], [ItemDescription], [IgnoreFlag]) VALUES (5, N'SFP', 3, N'', 1)
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficientsGroup] OFF
/****** Object:  Table [dbo].[GlobalManufactureCoefficients]    Script Date: 05/19/2015 12:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalManufactureCoefficients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_PID]  DEFAULT ((0)),
	[ItemTYPE] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_TYPE]  DEFAULT (''),
	[ItemName] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_Name]  DEFAULT (''),
	[Channel] [tinyint] NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_Channel]  DEFAULT ('0'),
	[Page] [tinyint] NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_Page]  DEFAULT ('0'),
	[StartAddress] [int] NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_StartAddress]  DEFAULT ('0'),
	[Length] [tinyint] NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_Length]  DEFAULT ('0'),
	[Format] [nvarchar](25) NOT NULL CONSTRAINT [DF_GlobalManufactureMemory_Format]  DEFAULT (''),
 CONSTRAINT [PK_GlobalManufactureMemory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]') AND name = N'IX_GlobalManufactureCoefficients')
CREATE NONCLUSTERED INDEX [IX_GlobalManufactureCoefficients] ON [dbo].[GlobalManufactureCoefficients] 
(
	[ItemName] ASC,
	[ItemTYPE] ASC,
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficients] ON
INSERT [dbo].[GlobalManufactureCoefficients] ([ID], [PID], [ItemTYPE], [ItemName], [Channel], [Page], [StartAddress], [Length], [Format]) VALUES (1, 1, N'Firmware', N'FirmwareRev', 0, 4, 128, 2, N'U16')
INSERT [dbo].[GlobalManufactureCoefficients] ([ID], [PID], [ItemTYPE], [ItemName], [Channel], [Page], [StartAddress], [Length], [Format]) VALUES (2, 1, N'ADC', N'VccAdc', 0, 4, 130, 2, N'U16')
INSERT [dbo].[GlobalManufactureCoefficients] ([ID], [PID], [ItemTYPE], [ItemName], [Channel], [Page], [StartAddress], [Length], [Format]) VALUES (3, 1, N'ADC', N'TemperatureAdc', 0, 4, 132, 2, N'U16')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[GlobalManufactureCoefficients] OFF
/****** Object:  Table [dbo].[GlobalProductionType]    Script Date: 05/19/2015 12:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalProductionType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalProductionType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](25) NOT NULL CONSTRAINT [DF_GlobalProductionType_Name]  DEFAULT (''),
	[MSAID] [int] NOT NULL CONSTRAINT [DF_GlobalProductionType_MSAID]  DEFAULT ('0'),
	[IgnoreFlag] [bit] NOT NULL CONSTRAINT [DF_GlobalProductionType_IgnoreFlag]  DEFAULT ('false'),
 CONSTRAINT [PK_GlobalProductionType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalProductionType] UNIQUE NONCLUSTERED 
(
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalProductionType] ON
INSERT [dbo].[GlobalProductionType] ([ID], [ItemName], [MSAID], [IgnoreFlag]) VALUES (1, N'QSFP28', 1, 0)
INSERT [dbo].[GlobalProductionType] ([ID], [ItemName], [MSAID], [IgnoreFlag]) VALUES (2, N'CFP4', 2, 0)
INSERT [dbo].[GlobalProductionType] ([ID], [ItemName], [MSAID], [IgnoreFlag]) VALUES (3, N'SFP28', 3, 0)
SET IDENTITY_INSERT [dbo].[GlobalProductionType] OFF
/****** Object:  Table [dbo].[UserRoleTable]    Script Date: 05/19/2015 12:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoleTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserRoleTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL CONSTRAINT [DF__UserRoleT__UserI__679450C0]  DEFAULT ('0'),
	[RoleID] [int] NOT NULL CONSTRAINT [DF__UserRoleT__RoleI__688874F9]  DEFAULT ('0'),
 CONSTRAINT [PK_UserRoleTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[UserRoleTable] ON
INSERT [dbo].[UserRoleTable] ([ID], [UserID], [RoleID]) VALUES (1, 2, 3)
INSERT [dbo].[UserRoleTable] ([ID], [UserID], [RoleID]) VALUES (3, 2, 5)
INSERT [dbo].[UserRoleTable] ([ID], [UserID], [RoleID]) VALUES (14, 5, 1)
SET IDENTITY_INSERT [dbo].[UserRoleTable] OFF
/****** Object:  Table [dbo].[GlobalMSADefintionInf]    Script Date: 05/19/2015 12:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalMSADefintionInf](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_PID]  DEFAULT ((0)),
	[FieldName] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_FieldName]  DEFAULT (''),
	[Channel] [tinyint] NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_Channel]  DEFAULT ('0'),
	[SlaveAddress] [int] NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_SlaveAddress]  DEFAULT ('0'),
	[Page] [tinyint] NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_Page]  DEFAULT ('0'),
	[StartAddress] [int] NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_StartAddress]  DEFAULT ('0'),
	[Length] [tinyint] NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_Length]  DEFAULT ('0'),
	[Format] [nvarchar](10) NOT NULL CONSTRAINT [DF_GlobalMSADefintionInf_Format]  DEFAULT (''),
 CONSTRAINT [PK_GlobalMSADefintionInf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]') AND name = N'IX_GlobalMSADefintionInf')
CREATE NONCLUSTERED INDEX [IX_GlobalMSADefintionInf] ON [dbo].[GlobalMSADefintionInf] 
(
	[FieldName] ASC,
	[PID] ASC,
	[Page] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalMSADefintionInf] ON
INSERT [dbo].[GlobalMSADefintionInf] ([ID], [PID], [FieldName], [Channel], [SlaveAddress], [Page], [StartAddress], [Length], [Format]) VALUES (1, 1, N'DmiTemp', 0, 160, 0, 22, 2, N'U16')
INSERT [dbo].[GlobalMSADefintionInf] ([ID], [PID], [FieldName], [Channel], [SlaveAddress], [Page], [StartAddress], [Length], [Format]) VALUES (2, 1, N'DmiVcc', 0, 160, 0, 26, 2, N'U16')
INSERT [dbo].[GlobalMSADefintionInf] ([ID], [PID], [FieldName], [Channel], [SlaveAddress], [Page], [StartAddress], [Length], [Format]) VALUES (3, 1, N'DmiBias', 1, 160, 0, 42, 2, N'U16')
SET IDENTITY_INSERT [dbo].[GlobalMSADefintionInf] OFF
/****** Object:  Table [dbo].[GlobalAllTestModelList]    Script Date: 05/19/2015 12:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllTestModelList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalAllTestModelList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalAllTestModelList_Name]  DEFAULT (''),
	[ItemDescription] [nvarchar](50) NULL CONSTRAINT [DF_GlobalAllTestModelList_Description]  DEFAULT (''),
 CONSTRAINT [PK_GlobalAllTestModelList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalAllTestModelList] UNIQUE NONCLUSTERED 
(
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalAllTestModelList] ON
INSERT [dbo].[GlobalAllTestModelList] ([ID], [PID], [ItemName], [ItemDescription]) VALUES (1, 1, N'AdjustEye', N'')
INSERT [dbo].[GlobalAllTestModelList] ([ID], [PID], [ItemName], [ItemDescription]) VALUES (2, 1, N'AdjustTxPowerDmi', N'')
INSERT [dbo].[GlobalAllTestModelList] ([ID], [PID], [ItemName], [ItemDescription]) VALUES (3, 2, N'TestEye', N'')
SET IDENTITY_INSERT [dbo].[GlobalAllTestModelList] OFF
/****** Object:  Table [dbo].[GlobalAllEquipmentParamterList]    Script Date: 05/19/2015 12:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentParamterList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalAllEquipmentParamterList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[Item] [nvarchar](30) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentParamterList_FieldName]  DEFAULT (''),
	[ItemValue] [nvarchar](255) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentParamterList_DefaultValue]  DEFAULT (''),
	[ItemDescription] [nvarchar](500) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentParamterList_Description]  DEFAULT (''),
	[ItemType] [nvarchar](10) NOT NULL CONSTRAINT [DF_GlobalAllEquipmentParamterList_TypeofValue]  DEFAULT (''),
 CONSTRAINT [PK_GlobalAllEquipmentParamterList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalAllEquipmentParamterList] UNIQUE NONCLUSTERED 
(
	[Item] ASC,
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentParamterList] ON
INSERT [dbo].[GlobalAllEquipmentParamterList] ([ID], [PID], [Item], [ItemValue], [ItemDescription], [ItemType]) VALUES (1, 1, N'Addr', N'5', N'GPIB地址（1~30）', N'byte')
INSERT [dbo].[GlobalAllEquipmentParamterList] ([ID], [PID], [Item], [ItemValue], [ItemDescription], [ItemType]) VALUES (2, 1, N'IOType', N'GPIB', N'接口类型（GPIB或USB）', N'string')
INSERT [dbo].[GlobalAllEquipmentParamterList] ([ID], [PID], [Item], [ItemValue], [ItemDescription], [ItemType]) VALUES (3, 1, N'Reset', N'False', N'是否复位（True 是，False 否）', N'bool')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[GlobalAllEquipmentParamterList] OFF
/****** Object:  Table [dbo].[RoleFunctionTable]    Script Date: 05/19/2015 12:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RoleFunctionTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL DEFAULT ('0'),
	[FunctionID] [int] NOT NULL DEFAULT ('0'),
 CONSTRAINT [PK_RoleFunctionTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[RoleFunctionTable] ON
INSERT [dbo].[RoleFunctionTable] ([ID], [RoleID], [FunctionID]) VALUES (1, 1, 1)
INSERT [dbo].[RoleFunctionTable] ([ID], [RoleID], [FunctionID]) VALUES (2, 1, 2)
INSERT [dbo].[RoleFunctionTable] ([ID], [RoleID], [FunctionID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[RoleFunctionTable] OFF
/****** Object:  StoredProcedure [dbo].[InsertRunRecord]    Script Date: 05/19/2015 12:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertRunRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'--修改存储过程 InsertRunRecord
--
--存储过程 InsertRunRecord
--
--向TopoRunRecordTable添加一条新记录，并返回该记录的ID。
--TopoTestPlanRunRecordTable 字段 ID SN PID StartTime EndTime
--
--参数		方向	类型		描述
--@ID		OUT	Int		新记录ID
--@PID		IN	int		TestPlanID
--@SN		IN	Nvarchar(30)	模块序列号
--@StartTime	IN	Datetime	测试开始时间
--@EndTime	IN	Datetime		测试结束时间	--140721
--@FWRev	IN	Nvarchar(5)		FW版本号
--@IP		IN	Nvarchar(50)	IP
--@LightSource		In	Nvarchar(100)	LightSource	--141219
--@Remark	IN		ntext		Remark	--150305
CREATE PROCEDURE [dbo].[InsertRunRecord]
 @ID int OUTPUT,
 @SN nvarchar(30),  
 @PID int,
 @StartTime datetime,
 @EndTime datetime, --140721
 @FWRev nvarchar(5), --141027 
 @IP nvarchar(50) ,--141027
 @LightSource nvarchar(100), --141219
 @Remark ntext	--150305
AS
 
BEGIN
   
SET XACT_ABORT ON 
BEGIN TRANSACTION 
INSERT INTO  TopoRunRecordTable ("SN", "PID","StartTime","EndTime","FWRev","IP","LightSource","Remark") 
	VALUES(@SN, @PID,@StartTime,@EndTime,@FWRev,@IP,@LightSource,@Remark);
set @ID = (Select Ident_Current(''TopoRunRecordTable''))
COMMIT TRANSACTION 
SET XACT_ABORT OFF 
print @id
return @ID

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[InsertLogRecord]    Script Date: 05/19/2015 12:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertLogRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'--修改存储过程 [InsertMyLogRecord]
--存储过程 [InsertMyLogRecord]
--
--向TopoLogRecord 添加一条新记录，并返回该记录的ID。
--TopoLogRecord  字段 ID PID RunRecordID StartTime EndTime TestLog Temp Voltage Channel Result
--
--参数		方向	类型		描述
--@ID		OUT	Int		新记录ID
--@CtrlType		IN	tinyint		@CtrlType	--150413 Deleted
--@RunRecordID	IN	int		RunRecordID
--@StartTime	IN	Datetime	测试开始时间
--@EndTime	IN	Datetime	测试结束时间
--@TestLog 	IN 	ntext		测试Log
--@Temp 	IN 	Real		测试温度
--@Voltage 	IN 	Real		测试电压
--@Channel 	IN 	tinyint		测试通道号
--@Result 	IN	bit 		测试结果

CREATE PROCEDURE [dbo].[InsertLogRecord]
 @ID int OUTPUT,
 @CtrlType tinyint,	--150414
 @RunRecordID int, 
 @StartTime datetime,
 @EndTime datetime,
 @TestLog ntext,
 @Temp real,
 @Voltage real,
 @Channel tinyint,
 @Result bit
AS

BEGIN

SET XACT_ABORT ON 
BEGIN TRANSACTION 

INSERT INTO  TopoLogRecord VALUES(@RunRecordID , @StartTime,@EndTime,@TestLog,@Temp,@Voltage,@Channel,@Result,@CtrlType);
set @ID = (Select Ident_Current(''TopoLogRecord''))

COMMIT TRANSACTION 
SET XACT_ABORT OFF 

print @id
return @ID
END
' 
END
GO
/****** Object:  Table [dbo].[GlobalTestModelParamterList]    Script Date: 05/19/2015 12:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalTestModelParamterList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalTestModelParamterList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[ItemType] [nvarchar](10) NOT NULL,
	[Direction] [nvarchar](10) NOT NULL,
	[ItemValue] [nvarchar](50) NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_ItemValue]  DEFAULT ('-32768'),
	[SpecMin] [float] NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_DefaultLowLimit]  DEFAULT ('-32768'),
	[SpecMax] [float] NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_DefaultUpperLimit]  DEFAULT ('32767'),
	[ItemSpecific] [tinyint] NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_ItemSpecific]  DEFAULT ('0'),
	[LogRecord] [tinyint] NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_LogRecord]  DEFAULT ('0'),
	[DataRecord] [tinyint] NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_DataRecord]  DEFAULT ('0'),
	[ItemDescription] [nvarchar](200) NOT NULL CONSTRAINT [DF_GlobalTestModelParamterList_ItemDescription]  DEFAULT (''),
 CONSTRAINT [PK_GlobalTestModelParamterList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalTestModelParamterList] UNIQUE NONCLUSTERED 
(
	[PID] ASC,
	[ItemType] ASC,
	[ItemName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[GlobalTestModelParamterList] ON
INSERT [dbo].[GlobalTestModelParamterList] ([ID], [PID], [ItemName], [ItemType], [Direction], [ItemValue], [SpecMin], [SpecMax], [ItemSpecific], [LogRecord], [DataRecord], [ItemDescription]) VALUES (1, 1, N'IMODMIN(MA)', N'UInt16', N'input', N'100', -32768, 32767, 0, 0, 0, N'')
INSERT [dbo].[GlobalTestModelParamterList] ([ID], [PID], [ItemName], [ItemType], [Direction], [ItemValue], [SpecMin], [SpecMax], [ItemSpecific], [LogRecord], [DataRecord], [ItemDescription]) VALUES (2, 1, N'ARRAYLISTTXMODCOEF', N'ArrayList', N'output', N'-32768', -32768, 32767, 0, 1, 0, N'')
INSERT [dbo].[GlobalTestModelParamterList] ([ID], [PID], [ItemName], [ItemType], [Direction], [ItemValue], [SpecMin], [SpecMax], [ItemSpecific], [LogRecord], [DataRecord], [ItemDescription]) VALUES (3, 1, N'1STOR2STORPIDTXLOP', N'byte', N'input', N'2', -32768, 32767, 0, 0, 0, N'')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[GlobalTestModelParamterList] OFF
/****** Object:  Table [dbo].[GlobalProductionName]    Script Date: 05/19/2015 12:42:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalProductionName](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL CONSTRAINT [DF_GlobalProductionName_PID]  DEFAULT ((0)),
	[PN] [nvarchar](35) NOT NULL CONSTRAINT [DF_GlobalProductionName_PN]  DEFAULT (''),
	[ItemName] [nvarchar](200) NOT NULL CONSTRAINT [DF_GlobalProductionName_Name]  DEFAULT (''),
	[Channels] [tinyint] NOT NULL CONSTRAINT [DF_GlobalProductionName_Channels]  DEFAULT ('4'),
	[Voltages] [tinyint] NOT NULL CONSTRAINT [DF_GlobalProductionName_Voltages]  DEFAULT ((0)),
	[Tsensors] [tinyint] NOT NULL CONSTRAINT [DF_GlobalProductionName_Tsensors]  DEFAULT ((0)),
	[MCoefsID] [int] NOT NULL CONSTRAINT [DF_GlobalProductionName_MGroupID]  DEFAULT ('0'),
	[AuxAttribles] [nvarchar](255) NOT NULL CONSTRAINT [DF_GlobalProductionName_AuxAttribles]  DEFAULT (''),
	[IgnoreFlag] [bit] NOT NULL CONSTRAINT [DF_GlobalProductionName_IgnoreFlag_1]  DEFAULT ('false'),
 CONSTRAINT [PK_GlobalProductionName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_GlobalProductionName_1] UNIQUE NONCLUSTERED 
(
	[PN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]') AND name = N'IX_GlobalProductionName')
CREATE NONCLUSTERED INDEX [IX_GlobalProductionName] ON [dbo].[GlobalProductionName] 
(
	[MCoefsID] ASC,
	[PID] ASC,
	[PN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalProductionName] ON
INSERT [dbo].[GlobalProductionName] ([ID], [PID], [PN], [ItemName], [Channels], [Voltages], [Tsensors], [MCoefsID], [AuxAttribles], [IgnoreFlag]) VALUES (1, 1, N'TR-QQ13L-N00', N'QSFP LR4', 4, 1, 1, 1, N'OldDriver=1;ApcStyle=0', 0)
INSERT [dbo].[GlobalProductionName] ([ID], [PID], [PN], [ItemName], [Channels], [Voltages], [Tsensors], [MCoefsID], [AuxAttribles], [IgnoreFlag]) VALUES (3, 1, N'TR_CGR4_N00', N'CGR4', 4, 1, 1, 4, N'ApcStyle=1', 0)
INSERT [dbo].[GlobalProductionName] ([ID], [PID], [PN], [ItemName], [Channels], [Voltages], [Tsensors], [MCoefsID], [AuxAttribles], [IgnoreFlag]) VALUES (4, 3, N'SFP-TEST', N'SFP', 1, 2, 1, 5, N'SFP', 1)
SET IDENTITY_INSERT [dbo].[GlobalProductionName] OFF
/****** Object:  Table [dbo].[GlobalManufactureChipsetInitialize]    Script Date: 05/19/2015 12:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalManufactureChipsetInitialize](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_PID_1]  DEFAULT ((0)),
	[DriveType] [tinyint] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_DriveType_1]  DEFAULT ((0)),
	[ChipLine] [tinyint] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_ChipLine_1]  DEFAULT ((0)),
	[RegisterAddress] [int] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_RegisterAddress_1]  DEFAULT ((0)),
	[Length] [tinyint] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_Length_1]  DEFAULT ((0)),
	[ItemValue] [int] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_ItemVaule]  DEFAULT ((0)),
	[Endianness] [bit] NOT NULL CONSTRAINT [DF_GlobalManufactureChipsetInitialize_Endianness]  DEFAULT ('false'),
 CONSTRAINT [PK_ManufactureChipsetInitialize_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]') AND name = N'IX_GlobalManufactureChipsetInitialize')
CREATE NONCLUSTERED INDEX [IX_GlobalManufactureChipsetInitialize] ON [dbo].[GlobalManufactureChipsetInitialize] 
(
	[DriveType] ASC,
	[Endianness] ASC,
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetInitialize] ON
INSERT [dbo].[GlobalManufactureChipsetInitialize] ([ID], [PID], [DriveType], [ChipLine], [RegisterAddress], [Length], [ItemValue], [Endianness]) VALUES (6, 3, 3, 1, 8, 1, 8, 0)
INSERT [dbo].[GlobalManufactureChipsetInitialize] ([ID], [PID], [DriveType], [ChipLine], [RegisterAddress], [Length], [ItemValue], [Endianness]) VALUES (7, 3, 3, 1, 9, 1, 1, 0)
INSERT [dbo].[GlobalManufactureChipsetInitialize] ([ID], [PID], [DriveType], [ChipLine], [RegisterAddress], [Length], [ItemValue], [Endianness]) VALUES (8, 3, 3, 1, 264, 1, 8, 0)
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetInitialize] OFF
/****** Object:  Table [dbo].[GlobalManufactureChipsetControl]    Script Date: 05/19/2015 12:42:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GlobalManufactureChipsetControl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_PID]  DEFAULT ((0)),
	[ItemName] [nvarchar](20) NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_ItemName]  DEFAULT (''),
	[ModuleLine] [tinyint] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_ModuleLine]  DEFAULT ((0)),
	[ChipLine] [tinyint] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_ChipLine]  DEFAULT ((0)),
	[DriveType] [tinyint] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_DriveType]  DEFAULT ((0)),
	[RegisterAddress] [int] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_RegisterAddress]  DEFAULT ((0)),
	[Length] [int] NOT NULL CONSTRAINT [DF_ManufactureChipsetInitialize_Length]  DEFAULT ((1)),
	[Endianness] [bit] NOT NULL CONSTRAINT [DF_GlobalManufactureChipsetControl_Endianness]  DEFAULT ('false'),
 CONSTRAINT [PK_ManufactureChipsetInitialize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]') AND name = N'IX_GlobalManufactureChipsetControl')
CREATE NONCLUSTERED INDEX [IX_GlobalManufactureChipsetControl] ON [dbo].[GlobalManufactureChipsetControl] 
(
	[DriveType] ASC,
	[Endianness] ASC,
	[ItemName] ASC,
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetControl] ON
INSERT [dbo].[GlobalManufactureChipsetControl] ([ID], [PID], [ItemName], [ModuleLine], [ChipLine], [DriveType], [RegisterAddress], [Length], [Endianness]) VALUES (3, 3, N'BiasDac', 1, 1, 0, 5, 2, 0)
INSERT [dbo].[GlobalManufactureChipsetControl] ([ID], [PID], [ItemName], [ModuleLine], [ChipLine], [DriveType], [RegisterAddress], [Length], [Endianness]) VALUES (4, 3, N'BiasDac', 2, 2, 0, 5, 2, 0)
INSERT [dbo].[GlobalManufactureChipsetControl] ([ID], [PID], [ItemName], [ModuleLine], [ChipLine], [DriveType], [RegisterAddress], [Length], [Endianness]) VALUES (5, 3, N'BiasDac', 3, 1, 0, 5, 2, 0)
SET IDENTITY_INSERT [dbo].[GlobalManufactureChipsetControl] OFF
/****** Object:  ForeignKey [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]    Script Date: 05/19/2015 12:42:25 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentParamterList]'))
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList]  WITH CHECK ADD  CONSTRAINT [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalAllEquipmentList] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllEquipmentParamterList]'))
ALTER TABLE [dbo].[GlobalAllEquipmentParamterList] CHECK CONSTRAINT [FK_GlobalAllEquipmentParamterList_GlobalAllEquipmentList]
GO
/****** Object:  ForeignKey [FK_GlobalAllTestModelList_GlobalAllAppModelList]    Script Date: 05/19/2015 12:42:25 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllTestModelList_GlobalAllAppModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllTestModelList]'))
ALTER TABLE [dbo].[GlobalAllTestModelList]  WITH CHECK ADD  CONSTRAINT [FK_GlobalAllTestModelList_GlobalAllAppModelList] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalAllAppModelList] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalAllTestModelList_GlobalAllAppModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalAllTestModelList]'))
ALTER TABLE [dbo].[GlobalAllTestModelList] CHECK CONSTRAINT [FK_GlobalAllTestModelList_GlobalAllAppModelList]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureChipsetControl_GlobalProductionName]    Script Date: 05/19/2015 12:42:25 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetControl_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetControl]  WITH CHECK ADD  CONSTRAINT [FK_GlobalManufactureChipsetControl_GlobalProductionName] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionName] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetControl_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetControl]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetControl] CHECK CONSTRAINT [FK_GlobalManufactureChipsetControl_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]    Script Date: 05/19/2015 12:42:25 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetInitialize_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize]  WITH CHECK ADD  CONSTRAINT [FK_GlobalManufactureChipsetInitialize_GlobalProductionName] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionName] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureChipsetInitialize_GlobalProductionName]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureChipsetInitialize]'))
ALTER TABLE [dbo].[GlobalManufactureChipsetInitialize] CHECK CONSTRAINT [FK_GlobalManufactureChipsetInitialize_GlobalProductionName]
GO
/****** Object:  ForeignKey [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]    Script Date: 05/19/2015 12:42:25 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]'))
ALTER TABLE [dbo].[GlobalManufactureCoefficients]  WITH CHECK ADD  CONSTRAINT [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalManufactureCoefficientsGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalManufactureCoefficients]'))
ALTER TABLE [dbo].[GlobalManufactureCoefficients] CHECK CONSTRAINT [FK_GlobalManufactureMemory_GlobalManufactureMemoryGroupTable]
GO
/****** Object:  ForeignKey [FK_GlobalMSADefintionInf_GlobalMSA]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalMSADefintionInf_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]'))
ALTER TABLE [dbo].[GlobalMSADefintionInf]  WITH CHECK ADD  CONSTRAINT [FK_GlobalMSADefintionInf_GlobalMSA] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalMSA] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalMSADefintionInf_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalMSADefintionInf]'))
ALTER TABLE [dbo].[GlobalMSADefintionInf] CHECK CONSTRAINT [FK_GlobalMSADefintionInf_GlobalMSA]
GO
/****** Object:  ForeignKey [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName]  WITH CHECK ADD  CONSTRAINT [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup] FOREIGN KEY([MCoefsID])
REFERENCES [dbo].[GlobalManufactureCoefficientsGroup] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName] CHECK CONSTRAINT [FK_GlobalProductionName_GlobalManufactureCoefficientsGroup]
GO
/****** Object:  ForeignKey [FK_GlobalProductionName_GlobalProductionType]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalProductionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName]  WITH CHECK ADD  CONSTRAINT [FK_GlobalProductionName_GlobalProductionType] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalProductionType] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionName_GlobalProductionType]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionName]'))
ALTER TABLE [dbo].[GlobalProductionName] CHECK CONSTRAINT [FK_GlobalProductionName_GlobalProductionType]
GO
/****** Object:  ForeignKey [FK_GlobalProductionType_GlobalMSA]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionType_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionType]'))
ALTER TABLE [dbo].[GlobalProductionType]  WITH CHECK ADD  CONSTRAINT [FK_GlobalProductionType_GlobalMSA] FOREIGN KEY([MSAID])
REFERENCES [dbo].[GlobalMSA] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalProductionType_GlobalMSA]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalProductionType]'))
ALTER TABLE [dbo].[GlobalProductionType] CHECK CONSTRAINT [FK_GlobalProductionType_GlobalMSA]
GO
/****** Object:  ForeignKey [FK_GlobalTestModelParamterList_GlobalAllTestModelList]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalTestModelParamterList_GlobalAllTestModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalTestModelParamterList]'))
ALTER TABLE [dbo].[GlobalTestModelParamterList]  WITH CHECK ADD  CONSTRAINT [FK_GlobalTestModelParamterList_GlobalAllTestModelList] FOREIGN KEY([PID])
REFERENCES [dbo].[GlobalAllTestModelList] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GlobalTestModelParamterList_GlobalAllTestModelList]') AND parent_object_id = OBJECT_ID(N'[dbo].[GlobalTestModelParamterList]'))
ALTER TABLE [dbo].[GlobalTestModelParamterList] CHECK CONSTRAINT [FK_GlobalTestModelParamterList_GlobalAllTestModelList]
GO
/****** Object:  ForeignKey [FK_RoleFunctionTable_FunctionTable]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_FunctionTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable]  WITH CHECK ADD  CONSTRAINT [FK_RoleFunctionTable_FunctionTable] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[FunctionTable] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_FunctionTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable] CHECK CONSTRAINT [FK_RoleFunctionTable_FunctionTable]
GO
/****** Object:  ForeignKey [FK_RoleFunctionTable_RolesTable]    Script Date: 05/19/2015 12:42:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable]  WITH CHECK ADD  CONSTRAINT [FK_RoleFunctionTable_RolesTable] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RolesTable] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RoleFunctionTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[RoleFunctionTable]'))
ALTER TABLE [dbo].[RoleFunctionTable] CHECK CONSTRAINT [FK_RoleFunctionTable_RolesTable]
GO
/****** Object:  ForeignKey [FK_UserRoleTable_RolesTable]    Script Date: 05/19/2015 12:42:27 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTable_RolesTable] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RolesTable] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_RolesTable]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable] CHECK CONSTRAINT [FK_UserRoleTable_RolesTable]
GO
/****** Object:  ForeignKey [FK_UserRoleTable_UserInfo]    Script Date: 05/19/2015 12:42:27 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_UserInfo]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleTable_UserInfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserInfo] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserRoleTable_UserInfo]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoleTable]'))
ALTER TABLE [dbo].[UserRoleTable] CHECK CONSTRAINT [FK_UserRoleTable_UserInfo]
GO
