<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackcoefData.Properties.Settings.ATSDebugConnectionString"
            connectionString="Data Source=INPCSZ0518;Initial Catalog=ATSDebug;Persist Security Info=True;User ID=ATSUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>