<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState mode="InProc" timeout="18000"> </sessionState>
  </system.web>
  <appSettings>
    <add key="ServerName" value="INPCSZ0518\ATS_Home"/>
    <add key="DbName" value="ATS_V2"/>
    <add key="UserId" value="03cc04e804d804f506b605e306a5"/>
    <add key="Pwd" value="05ac06c806b802070620066a0669067702e302c402d202fe"/>
  </appSettings>
</configuration>